
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

#sidebar, #content {
height: 100vh;
overflow:hidden;
float:left;
transition: width .35s;
}

#sidebar {
background-color: #141414;
width: 300px;
}
#sidebar nav ul li{
padding: 20px;
background-color: #111;
border-bottom: 5px solid White;
cursor: pointer;
text-align: center;

}
#sidebar nav ul li a{
color: #fff;
font-weight: 900;
font-size: 20px;
}

#sidebar.fechar {
width: 0;
}

#sidebar.fechar + #content {
width: 100%;
}

#content {
background-color: #ededed;
width: calc(100% - 300px);
}
#btn{
cursor: pointer;
outline: none;
border: none;
font-size: 30px;
padding: 5px;
color: #4b2c8a;
}

.img{
    width: 250px;
    margin: 40px;
}

.p1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
span{
    color: #4b2c8a;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #4b2c8a;
    text-transform:capitalize;
    font-weight: 900;
}
